
.optionheading {
    color: #fff;
    font-weight: 900;
    padding: 0.4rem 1rem;
    border-left: 4px solid #8870FF;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.loopOptionWrapper .loopOption {
    margin-right: 1rem;
    /* margin-left: 1rem; */
    margin-bottom: 1rem;
    flex-basis: 44%;
    color: #b4bad0;
    width: 100%;
    cursor: pointer;
    height: 50px;
    display: flex;
    overflow: hidden;
    min-width: 100px;
    text-align: center;
    align-items: center;
    user-select: none;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    background-color: #222532;
}


.loopOptionWrapper .audioOption{
    margin-right: 1rem;
    /* margin-left: 1rem; */
    margin-bottom: 1rem;
    flex-basis: 44%;
    color: #b4bad0;
    width: 100%;
    cursor: pointer;
    height: 50px;
    display: flex;
    overflow: hidden;
    min-width: 100px;
    text-align: center;
    align-items: center;
    user-select: none;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    background-color: #222532;
}

.loopOptionWrapper .audioOption{
    color: #fff;
    background-color: #535a70;
}
.loopOptionWrapper .loopOption:hover {
    color: #fff;
    background-color: #535a70;
}
.active{
    background: #0090ff !important;
    color: #fff !important;
}
.actives{
    background: #0090ff !important;
    color: #fff !important;
}
.Spinner {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 6%;
    background: url(../public/styles/VideoEditor/media/icons/loader.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

@media (max-width:768px) {
    .mobileColumn{
        order: 2;
        /* padding-bottom: 2rem; */
        border: none !important;
        padding-left: 2rem !important;
    }
     .fixed-bottom{
        position: absolute;
    }
    #exportBtn{
        width: 150px !important;
        margin: 0px 10px;
    }
    #VContainer{
        max-width: 100%;
        padding: 15px !important;
        height: 50vh !important;
        border: none !important;
    }
    #VDemo{
        max-width: 100%;
    }
    .fixed-top{
        bottom: 0;
        overflow-x: hidden ;
        overflow-y: scroll;
        /* height: 100vh; */
    }
    
}