@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* css for video overlays elements */
#video-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#video {
    max-width: 100%;
}

.txtColorBox,
.bgColorBox {
    outline: 5px solid white;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    overflow: hidden;
    position: relative;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    cursor: pointer;
}

#text-overlay::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 20px 0px white, 0px 40px 0px white;
    /* Adjust shadow offsets to position dots */
    position: absolute;
    left: -10px;
    /* Position along the left border */
}

#text-overlay::before {
    top: -5px;
}

#text-overlay::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 20px 0px white, 0px 40px 0px white;
    /* Adjust shadow offsets to position dots */
    position: absolute;
    right: -10px;
    /* Position along the left border */
}

#text-overlay::after {
    top: -5px;
}

#text-overlay.without-dots::before,
#text-overlay.without-dots::after {
    display: none;
}

.txtColorBox:nth-child(2) {
    background-color: #000;
}

.txtColorBox:nth-child(3) {
    background-color: #fff;
}

.txtColorBox:nth-child(4) {
    background-color: yellow;
}

.txtColorBox:nth-child(5) {
    background-color: blue;
}

.txtColorBox:nth-child(6) {
    background-color: #F11A7B;
}

.bgColorBox:nth-child(2) {
    background-color: #fff;
}

.bgColorBox:nth-child(3) {
    background-color: #000;
}

.bgColorBox:nth-child(4) {
    background-color: #fff;
}

#text-overlay,
#element-overlay {
    position: absolute;
    font-size: 24px;
    color: white;
    /* padding: 5px; */
    cursor: move;
    pointer-events: auto;
    user-select: none;
}

#text-overlay:focus,
#yourText:focus {
    box-shadow: unset;
    /* border: none; */
    outline: none;
}

#yourText {
    color: #000;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(247, 247, 248);
    cursor: text;
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1876em;
    border-radius: 7px;
    background-color: rgb(247, 247, 248);
    resize: none;
}

.bgBox {
    position: relative;
    height: 25px;
    width: 80px;
    background-color: transparent;
    outline: 5px solid white;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    border-radius: 22px;
    cursor: pointer;
    display: flex;
    padding: 8px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.innerBgBox,
.innerColorBox {
    width: 37px;
    height: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
}

.noColorSelect,
.ColorSelect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/transparent-color-oval.svg);
    background-size: 100%;
    background-position: center;
}

.noselectcolor {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/transparent-color-round.svg);
    background-size: 100%;
    background-position: center;
}

#colorPicker,
#txtcolorPicker {
    height: 35px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

#font-name-select {
    width: 200px;
}

#font-name-select,
#font-size-select {
    border-radius: 7px;
    transition: all 100ms ease 0s;
    border-color: rgb(238, 238, 240);
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    border: 1px solid rgb(238, 238, 240);
    padding: 1px 12px 0px;
    font-size: 16px;
    color: rgb(25, 32, 51);
    line-height: 1.25;
    box-sizing: border-box;
    cursor: pointer;
    height: 45px !important;
    font-size: 15px;
}

#font-name-select,
#font-size-select:focus {
    outline: none;
    /* border: none; */
    /* box-shadow: unset; */
}
.elements{
    cursor: pointer;
    gap:10px;
    overflow-x: scroll;
}
.elements::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
}
.elements .element{
    background: rgb(247, 247, 248);
    border-radius: 10px;
    border: 1px solid rgb(247, 247, 248);
    border-radius: 7px;
    width: 75px;
}
.basic-filters{
    cursor: pointer;
    gap:10px;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

.filter-container{
    /* padding: 20px 0px; */
    width: calc(50% - 10px); /* 50% width with some spacing */
}
.filter-container label{
    font-size: 14px;
    color:gray;
    margin-bottom: 0;
}
.basic-filters #none{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 247, 248);
    border-radius: 10px;
    border: 1px solid rgb(247, 247, 248);
    border-radius: 10px;
    width: 100%;
    height: 105px;
}
.media-upload .upload-box,
.audio-upload .upload-box {
    border: 1px dashed #b4bad0;
    border-radius: 7px;
    padding: 20px;
    width: 300px;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-box input[type="file"] {
    display: none;
}
.download-modal-container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -25px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center
}

#download-modal {
    max-width: 100%;
    color: #d9d9d9;
    border-radius: 3px
}

.download-modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 42px;
    align-items: center;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #212121;
    background-color: #4d4d4d;
    padding: 0 14px
}

.download-modal-header svg {
    fill: #d9d9d9;
    height: 20px;
    width: 20px;
    cursor: pointer
}

/* .download-modal-body {
    padding: 30px 16px 16px 16px
} */

.download-modal-body p {
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-top: 19px
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite
}

.lds-spinner div:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0);
    animation-delay: -1.1s
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -.9s
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -.8s
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -.7s
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -.6s
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -.5s
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -.4s
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -.3s
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -.2s
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -.1s
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s
}

@keyframes lds-spinner {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}