@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.VideoEditor {
  width: 100%;
  height: 100%;
}

.VideoEditor .Landing {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoEditor .Landing .ProgressBar {
  width: 0%;
  border-bottom: 8px solid white;
  position: absolute;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.VideoEditor .Landing .Landingtext {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
}

.VideoEditor .Landing .Button {
  width: 120px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoEditor .Landing .Button .InputButton {
  width: 140px;
  height: 70px;
  background: white;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.VideoEditor .Landing .Button .InputButton:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.VideoEditor .Landing .Spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  background: url("./media/icons/spinner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.VideoEditor .Landing .LoadingText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.VideoEditor .Landing .DownloadBox {
  width: 500px;
  height: 200px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.VideoEditor .Landing .DownloadBox .DownloadIcon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.VideoEditor .Landing .DownloadBox .DownloadLink {
  width: 140px;
  height: 50px;
  background: white;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.VideoEditor .Landing .DownloadBox .DownloadLink:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.VideoEditor .Workspace {
  width: 100%;
  height: 90vh;
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  position: relative;
  display: none;
}

.VideoEditor .Workspace .CancelEditing {
  width: 100%;
  height: 100%;
  background: #353535;
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.VideoEditor .Workspace .CancelEditing .container {
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoEditor .Workspace .CancelEditing .container h2 {
  font-size: 16px;
  color: white;
}

.VideoEditor .Workspace .CancelEditing .container .ButtonsWrap {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoEditor .Workspace .CancelEditing .container .ButtonsWrap button {
  width: 120px;
  height: 50px;
  color: #353535;
  border-radius: 20px;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.VideoEditor .Workspace .CancelEditing .container .ButtonsWrap #noCancelEdit {
  background: black;
  color: white;
}

.VideoEditor .Workspace .CancelEditing .container .ButtonsWrap #noCancelEdit:hover {
  background: #3a3a3a;
}

.VideoEditor .Workspace .CancelEditing .container .ButtonsWrap #cancelEdit:hover {
  background: #c9c9c9;
}

.VideoEditor .Workspace .FeaturesPanel {
  width: 90%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature {
  padding: 10px;
  width: 150px;
  height: 40px;
  background: rgba(90, 90, 90, 0.466);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature a, .VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature #Layer_2 {
  width: 20px;
  height: 30px;
  pointer-events: none;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature #Layer_2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature .featureName {
  padding: 10%;
  display: none;
  width: 60px;
  height: 30px;
  color: white;
  pointer-events: none;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .FeaturesPanel .LeftPanel .Feature:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR {
  padding: 10px;
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  cursor: pointer;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR a {
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR .featureName {
  padding: 10%;
  display: none;
  width: 60px;
  color: white;
  pointer-events: none;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .FeaturesPanel .RightPanel .FeatureR:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace #videoWrapper {
  width: 480px;
  height: 318px;
  position: relative;
}

.VideoEditor .Workspace #videoWrapper #video {
  width: 100%;
  height: 100%;
}

.VideoEditor .Workspace .FramesLayer {
  width: 95%;
  height: 55px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  position: relative;
}

.VideoEditor .Workspace .FramesLayer #StartTrim, .VideoEditor .Workspace .FramesLayer #EndTrim, .VideoEditor .Workspace .FramesLayer #SeekTrim {
  width: 10px;
  height: 60px;
  background: white;
  cursor: e-resize;
  position: absolute;
  z-index: 1;
}

.VideoEditor .Workspace .FramesLayer #StartTrim .StartValue, .VideoEditor .Workspace .FramesLayer #StartTrim .EndValue, .VideoEditor .Workspace .FramesLayer #StartTrim .SeekValue, .VideoEditor .Workspace .FramesLayer #EndTrim .StartValue, .VideoEditor .Workspace .FramesLayer #EndTrim .EndValue, .VideoEditor .Workspace .FramesLayer #EndTrim .SeekValue, .VideoEditor .Workspace .FramesLayer #SeekTrim .StartValue, .VideoEditor .Workspace .FramesLayer #SeekTrim .EndValue, .VideoEditor .Workspace .FramesLayer #SeekTrim .SeekValue {
  width: 100px;
  height: 15px;
  font-size: 12px;
  position: absolute;
  background: rgba(219, 219, 219, 0.664);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  right: 50%;
  top: -50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.VideoEditor .Workspace .FramesLayer #StartTrim .SeekValue, .VideoEditor .Workspace .FramesLayer #EndTrim .SeekValue, .VideoEditor .Workspace .FramesLayer #SeekTrim .SeekValue {
  top: 100%;
  bottom: 0;
  background: white;
  height: 15px;
  font-size: 12px;
  border-radius: 10px;
}

.VideoEditor .Workspace .FramesLayer #StartTrim {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 900;
}

.VideoEditor .Workspace .FramesLayer #EndTrim {
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 900;
}

.VideoEditor .Workspace .FramesLayer #SeekTrim {
  left: 0;
  width: 2px;
  height: 60px;
  background: white;
  cursor: none;
}

.VideoEditor .Workspace .FramesLayer .ActiveFrames {
  width: 100%;
  height: 100%;
  background: #ffffffa6;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
}

.VideoEditor .Workspace .FramesLayer .Frames {
  width: 100%;
  height: 100%;
  background: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
}

.VideoEditor .Workspace .FramesLayer .Frames .Frame {
  width: 5%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.VideoEditor .Workspace .FramesLayer .Frames .Animate {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: animate 1s ease-in forwards;
          animation: animate 1s ease-in forwards;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.VideoEditor .Workspace .Settings {
  width: 100%;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.VideoEditor .Workspace .Settings .PlayButton {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  background: rgba(90, 90, 90, 0.466);
  cursor: pointer;
}

.VideoEditor .Workspace .Settings .PlayButton .PlayIcon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.VideoEditor .Workspace .Settings .PlayButton:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .DownloadOptions {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.VideoEditor .Workspace .Settings .DownloadOptions .QuickDownload, .VideoEditor .Workspace .Settings .DownloadOptions .SlowDownload {
  width: 200px;
  height: 30px;
  left: 0;
  text-align: center;
  background: lightgray;
  color: #353535;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
  display: none;
}

.VideoEditor .Workspace .Settings .DownloadOptions .QuickDownload:hover, .VideoEditor .Workspace .Settings .DownloadOptions .SlowDownload:hover {
  background: #353535;
  color: lightgray;
}

.VideoEditor .Workspace .Settings .Download, .VideoEditor .Workspace .Settings .TrimVideo {
  width: 100px;
  height: 24px;
  text-align: center;
  background: lightgray;
  color: #353535;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  background-repeat: no-repeat;
  display: none;
}

.VideoEditor .Workspace .Settings .Download:hover, .VideoEditor .Workspace .Settings .TrimVideo:hover {
  background: #353535;
  color: lightgray;
}

.VideoEditor .Workspace .Settings .SettingsWrap {
  width: 70%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings {
  width: 100%;
  height: 40px;
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios .Ratio {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios .Ratio:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios .Ratio:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios .Ratio:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice {
  width: 210px;
  height: 40px;
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .done, .VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .cancel {
  width: 100px;
  height: 40px;
  background: rgba(90, 90, 90, 0.466);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .done:hover, .VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .cancel:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .done {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .Done_cancel_choice .cancel {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings {
  width: 100%;
  height: 40px;
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions .Resolution {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions .Resolution:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions .Resolution:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions .Resolution:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings {
  width: 100%;
  height: 40px;
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds .Speed {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds .Speed:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds .Speed:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds .Speed:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  cursor: pointer;
  font-size: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip div {
  font-size: 14px;
  color: white;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip:nth-last-child(1) svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.VideoEditor .Workspace .Settings .SettingsWrap .FlipSettings .Flips .Flip:hover {
  background: rgba(34, 34, 34, 0.493);
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateLeft, .VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(90, 90, 90, 0.466);
  cursor: pointer;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateLeft svg, .VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight svg {
  width: 22px;
  height: 22px;
  pointer-events: none;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateLeft div, .VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight div {
  font-size: 14px;
  pointer-events: none;
  color: white;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateLeft:hover, .VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight:hover {
  background: rgba(34, 34, 34, 0.493);
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateLeft {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoEditor .Workspace .Settings .SettingsWrap .RotateSettings .wrapper .RotateRight svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.VideoEditor .Workspace .Settings .SettingsWrap .Crop {
  width: 24px;
  height: 24px;
  background: url("./media/icons/crop.png");
  background-size: contain;
  cursor: pointer;
  background-repeat: no-repeat;
  display: none;
}

.VideoEditor .Workspace .Settings .Compression_Settings {
  right: 10%;
  bottom: 15%;
  width: 350px;
  height: 300px;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  opacity: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: none;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.726);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.VideoEditor .Workspace .Settings .Compression_Settings .Title {
  width: 100%;
  height: 10%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoEditor .Workspace .Settings .Compression_Settings .Size {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.VideoEditor .Workspace .Settings .Compression_Settings .Size label {
  width: 40%;
  text-align: left;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .Compression_Settings .Size #size {
  width: 50%;
  height: 40%;
  outline: none;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed label {
  width: 40%;
  text-align: left;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed #speed {
  width: 50%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  font-size: 14px;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed option {
  text-align: left;
  outline: none;
  font-size: 14px;
  background: #353535;
  color: white;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed option:hover {
  background: white;
  border: 1px solid white;
  color: #353535;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed::before {
  content: 'Slower speed gives better compression';
  width: 150px;
  height: 50px;
  padding: 5px;
  bottom: 50%;
  left: 0;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.VideoEditor .Workspace .Settings .Compression_Settings .EncodingSpeed:hover::before {
  left: 0;
  display: block;
  background: white;
  opacity: 1;
  bottom: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoEditor .Workspace .Settings .AnimateSettings {
  -webkit-animation: animate 0.1s ease-in forwards;
          animation: animate 0.1s ease-in forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    bottom: 15%;
  }
  100% {
    opacity: 1;
    bottom: 20%;
    pointer-events: inherit;
  }
}

.VideoEditor .Workspace .Settings .FinalSettings {
  width: 180px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.VideoEditor .Workspace .Settings .FinalSettings .Encoding_and_compression_Settings {
  width: 60px;
  height: 40px;
  background: rgba(90, 90, 90, 0.466);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.VideoEditor .Workspace .Settings .FinalSettings .Encoding_and_compression_Settings svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.VideoEditor .Workspace .Settings .FinalSettings .Encoding_and_compression_Settings:hover {
  background: rgba(68, 68, 68, 0.466);
}

.VideoEditor .Workspace .Settings .FinalSettings .Save {
  width: 100px;
  height: 50px;
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #353535;
  cursor: pointer;
  font-weight: bolder;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.VideoEditor .Workspace .Settings .FrameSettings {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End {
  width: 100px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value #inputStart, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value #inputEnd, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value #inputStart, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value #inputEnd {
  display: none;
  border: none;
  outline: none;
  width: 100px;
  height: 24px;
  -webkit-box-shadow: 0 0 3px rgba(24, 24, 24, 0.2);
          box-shadow: 0 0 3px rgba(24, 24, 24, 0.2);
  padding-left: 2px;
  cursor: pointer;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: rgba(207, 207, 207, 0.466);
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss input, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss input {
  width: 40px;
  height: 30px;
  background: rgba(90, 90, 90, 0.466);
  outline: none;
  border: none;
  padding: 5%;
  color: white;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss input:nth-child(1), .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss input:nth-child(1) {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss input:nth-last-child(1), .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss input:nth-last-child(1) {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.VideoEditor .resizable {
  background: rgba(0, 0, 0, 0.2);
  background-size: contain;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  display: none;
}

.VideoEditor .resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: move;
}

.VideoEditor .resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
  z-index: 10;
}

.VideoEditor .resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
  /*resizer cursor*/
}

.VideoEditor .resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.VideoEditor .resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.VideoEditor .resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.SliderContainerBefore::before {
  content: ' lower CRF values correspond to higher bitrates, and hence produce higher quality videos.';
  width: 150px;
  height: 120px;
  padding: 5px;
  top: -30px;
  left: -100px;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.slidecontainer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slidecontainer label {
  width: 40%;
  text-align: left;
}

.slidecontainer .CRFValue {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slidecontainer .CRFValue p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slidecontainer .slider {
  margin-top: 10%;
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 1;
  border: 0.5px solid #353535;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slidecontainer .slider::before {
  content: 'Lower crf values gives better compression and quality';
  width: 150px;
  height: 100px;
  padding: 5px;
  bottom: 80%;
  left: 0;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.slidecontainer .slider:hover::before {
  display: block;
  left: 0;
  background: white;
  opacity: 1;
  bottom: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ActiveFeature {
  background: rgba(34, 34, 34, 0.493) !important;
}

.feature-card-img {
  width: 30px;
  height: 30px;
}

.TrimInfo {
  width: 40%;
  height: 30px;
  background: white;
  margin-top: 2%;
  color: #353535;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  display: none;
}

@media screen and (max-width: 600px) {
  .VideoEditor .Workspace .FeaturesPanel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 15%;
  }
  .VideoEditor .Workspace #videoWrapper {
    width: 220px;
    height: 180px;
    margin-bottom: 5%;
  }
  .VideoEditor .Workspace .FeaturesPanel .LeftPanel {
    width: 100%;
  }
  .VideoEditor .Workspace .Settings .FrameSettings {
    width: 60%;
  }
  .VideoEditor .Workspace .Settings .FrameSettings .wrapper {
    width: 100%;
  }
  .VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss input, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss input {
    width: 20px;
    height: 20px;
    background: rgba(90, 90, 90, 0.466);
    outline: none;
    border: none;
    padding: 0%;
    color: white;
    font-size: 12px;
  }
  .VideoEditor .Workspace .Settings .FrameSettings .wrapper .Start .value .hhmmss, .VideoEditor .Workspace .Settings .FrameSettings .wrapper .End .value .hhmmss {
    width: 70px;
  }
  .VideoEditor .Workspace .Settings .PlayButton {
    background: none;
  }
  .VideoEditor .Workspace .Settings .FinalSettings .Encoding_and_compression_Settings {
    width: 30px;
    height: 30px;
    background: none;
  }
  .VideoEditor .Workspace .Settings .FinalSettings .Save {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
  .VideoEditor .Workspace .Settings .FinalSettings {
    width: 50%;
    height: 30px;
    gap: 2px;
  }
  .TrimInfo {
    width: 90%;
    font-size: 14px;
    height: 20px;
    margin-right: 0%;
    margin-top: 2%;
  }
  .VideoEditor .Workspace #videoWrapper {
    width: 240px;
    height: 180px;
  }
  .VideoEditor .Workspace .Settings {
    width: 100%;
    height: 150px;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap {
    width: 100%;
  }
  .VideoEditor .Workspace .Settings .Compression_Settings {
    bottom: 15%;
    width: 300px;
    height: 300px;
    right: auto;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap .CropSettings .AspectRatios .Ratio {
    width: 50px;
    height: 90%;
    font-size: 12px;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions {
    width: 100%;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap .ResolutionSettings .Resolutions .Resolution {
    width: 50px;
    height: 90%;
    font-size: 12px;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds {
    width: 100%;
  }
  .VideoEditor .Workspace .Settings .SettingsWrap .SpeedSettings .Speeds .Speed {
    width: 50px;
    height: 90%;
    font-size: 12px;
  }
  .VideoEditor .Workspace .FramesLayer {
    width: 95%;
    height: 35px;
  }
  .VideoEditor .Workspace .FramesLayer #StartTrim .StartValue, .VideoEditor .Workspace .FramesLayer #StartTrim .EndValue, .VideoEditor .Workspace .FramesLayer #EndTrim .StartValue, .VideoEditor .Workspace .FramesLayer #EndTrim .EndValue {
    width: 70px;
    height: 20px;
    font-size: 12px;
  }
  .VideoEditor .Workspace .FramesLayer {
    width: 85%;
    height: 35px;
  }
  .VideoEditor .Workspace .FramesLayer .Frames .Frame {
    width: 5%;
  }
  .VideoEditor .Workspace .FramesLayer .Frames .Frame:hover {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
/*# sourceMappingURL=style.css.map */