{%- assign boxColor = site.data[page.folderName][page.lang][page.fileName].color -%}

<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="box" style="width:100%" id="temp_box1">
            <div class="box-border" id="temp_box2"></div>
            <div class="Landing">
                <div class="ProgressBar"></div>
                <label class="Button" for="files">
                    <div class="m-auto ">
                        <div class=" d-flex justify-content-center align-items-center ">
                            <div style="background-color: {{boxColor}}; color: #fff;" id="ButtonLabel"
                                class="InputButton" class="boxes">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path
                                        d="M14.0036 1.99646L17.0036 4.99646L16.999 4.99946L17 5.00001V13H16V5.99946L13 6.00001V2.99946H4V17.9995L12.0275 18.0003C12.0093 17.8361 12 17.6691 12 17.5C12 15.0147 14.0147 13 16.5 13C18.9853 13 21 15.0147 21 17.5C21 19.9853 18.9853 22 16.5 22C14.5409 22 12.8742 20.7481 12.2563 19.0007L3 19V2.00001H14L14.0036 1.99646ZM16.5 14C14.567 14 13 15.567 13 17.5C13 19.433 14.567 21 16.5 21C18.433 21 20 19.433 20 17.5C20 15.567 18.433 14 16.5 14ZM17 15V16.9995L19 17V18L17 17.9995V20H16V17.9995L14 18V17L16 16.9995V15H17ZM11 14V15H6V14H11ZM14 11V12H6V11H14ZM14 8.00001V9.00001H6V8.00001H14ZM14 3.40746V4.99946H15.592L14 3.40746Z">
                                    </path>
                                </svg> <span class='ml-2'>CHOOSE FILE</span>
                            </div>
                            <div class="file-pick-dropdown" style="background-color: {{boxColor}}; color: #fff;">
                                <i class="fas fa-angle-down arrow-sign "></i>
                                <div class="file-picker-dropdown" style="display: none;">
                                    <button id="dropbox"> <svg viewBox="0 0 24 24" fill="#0061FF"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path id="icon"
                                                d="M12.0146 6.57367L6.50732 10.1473L12.0146 13.721L6.50732 17.2947L1 13.6912L6.50732 10.1176L1 6.57367L6.50732 3L12.0146 6.57367ZM6.47803 18.4263L11.9854 14.8527L17.4927 18.4263L11.9854 22L6.47803 18.4263ZM12.0146 13.6912L17.522 10.1176L12.0146 6.57367L17.4927 3L23 6.57367L17.4927 10.1473L23 13.721L17.4927 17.2947L12.0146 13.6912Z">
                                            </path>
                                        </svg> From Dropbox</button>
                                    <button id='filepicker'> <svg viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path id="Path" d="M8.33331 3H15.6666L23 15H15.6666L8.33331 3Z"
                                                fill="#FFC107">
                                            </path>
                                            <path id="Path_2" d="M4.6012 21L8.30086 15H23L19.3333 21H4.6012Z"
                                                fill="#1976D2">
                                            </path>
                                            <path id="Path_3" d="M1 15.0625L4.60119 21L12 9L8.33333 3L1 15.0625Z"
                                                fill="#4CAF50"></path>
                                        </svg> From Google Drive</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <label for="files" id="ButtonLabel" class="InputButton"></label>  -->
                    <input id="files" style="visibility:hidden;" type="file"
                        onchange="get_video_source_from_input(this)" accept=".mp4">
                </label>
                <div class="Landingtext">or drop your video file here</div>
                <div class="Spinner"></div>
            </div>
            <div class="Workspace">
                <div class="Settings">
                    <div class="container-fluid videoEditor">
                        <div class="row fixed-top">
                            <div class="mobileColumn col-md-3 pl-5 pr-0 pt-3"
                                style="background-color: #191b24;justify-content: center;overflow-y:scroll; overflow-x: hidden;  border: 1px solid black;z-index: 1; height: 100vh;">

                                <div class="goBack text-left text-white">
                                    <a class="text-white" style="text-decoration: underline;" href="/loop-video">Go
                                        Back</a>
                                </div>
                                <div class="optionheading">
                                    Video to boomerang
                                </div>


                                <div class="trim-option">
                                    <div class="Settings">
                                        <div class="SettingsWrap">
                                            <div class="FrameSettings">
                                                <div class="wrapper">
                                                    <div class="Start convert-from">
                                                        <div class="value mb-3">
                                                            <label class="mb-0" style="color: #b4bad0;"> Start Time:
                                                            </label>
                                                            <div class="hhmmss">
                                                                <input type="number" id="hhs" placeholder="00"
                                                                    value="00" onchange="TrimChangeHandler(this,0)" />
                                                                :
                                                                <input type="number" id="mms" placeholder="00"
                                                                    value="00" onchange="TrimChangeHandler(this,0)" />
                                                                :
                                                                <input type="number" id="sss" placeholder="00"
                                                                    value="00" onchange="TrimChangeHandler(this,0)" />
                                                            </div>
                                                        </div>
                                                        <!-- <div>to</div> -->
                                                        <div class="End convert-to">
                                                            <div class="value">
                                                                <label class="mb-0" style="color: #b4bad0;"> End Time:
                                                                </label>
                                                                <div class="hhmmss">
                                                                    <input type="number" id="hhe" placeholder="00"
                                                                        onchange="TrimChangeHandler(this,1)" />
                                                                    :
                                                                    <input type="number" id="mme" placeholder="00"
                                                                        onchange="TrimChangeHandler(this,1)" />
                                                                    :
                                                                    <input type="number" id="sse" placeholder="00"
                                                                        onchange="TrimChangeHandler(this,1)" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loopOptionWrapper mt-5">
                                    <p class="text-left" style="color: #b4bad0;">Number of loop</p>
                                    <div class="d-flex" style="flex-wrap: wrap">
                                        <div class="loopOption active" role="button" id="1">
                                            2x
                                        </div>
                                        <div class="loopOption" role="button" id="2">
                                            3x
                                        </div>
                                        <div class="loopOption" role="button" id="3">
                                            4x
                                        </div>
                                        <div class="loopOption" role="button" id="4">
                                            5x
                                        </div>
                                        <div class="loopOption" role="button" id="5">
                                            6x
                                        </div>
                                        <div class="loopOption" role="button" id="7">
                                            8x
                                        </div>

                                    </div>
                                    <div class="finalOuputText" style="color: #b4bad0;"></div>
                                </div>
                            </div>
                            <div class="col-md-9" id="VContainer">
                                <video src="" crossorigin type="video/mp4" controls
                                    style="width: 700px;  margin:0 auto;height: auto;" id="VDemo"></video>
                                <div class="row fixed-bottom" id="endButton">
                                    <div class="w-100 pr-3 text-right">
                                        <button id="exportBtn" type="button" class="btn text-white"
                                            style="background-color: {{boxColor}};  border-radius: 30px;">Export</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>