<style>
    .spinner {
        width: 11.2px;
        height: 11.2px;
        animation: spinner-o824ag 1s infinite linear;
    }

    .spinner div {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #5db3ff;
        border-radius: 50%;
        animation: spinner-vse6n7 1.25s infinite ease;
    }

    .spinner div:nth-child(1) {
        --rotation: 90;
    }

    .spinner div:nth-child(2) {
        --rotation: 180;
    }

    .spinner div:nth-child(3) {
        --rotation: 270;
    }

    .spinner div:nth-child(4) {
        --rotation: 360;
    }

    @keyframes spinner-vse6n7 {

        0%,
        100% {
            transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        }

        50% {
            transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
        }
    }

    @keyframes spinner-o824ag {
        to {
            transform: rotate(360deg);
        }
    }
</style>
<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="box" style="width:100%" id="temp_box1">
            <div class="box-border" id="temp_box2"></div>
            <div class="Landing">
                <label class="Button" for="files">
                    <div class="m-auto ">
                        <svg class='d-none video-svg mb-4' enable-background="new 0 0 55.125 55.125" version="1.1"
                            viewBox="0 0 55.125 55.125" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path fill="white"
                                d="m4.167 47.007h46.792c2.302 0 4.167-1.866 4.167-4.167v-30.555c0-2.301-1.865-4.167-4.167-4.167h-46.792c-2.301 0-4.167 1.866-4.167 4.167v30.555c0 2.301 1.866 4.167 4.167 4.167zm26.604-2.925h-6.418v-3.965h6.418v3.965zm15.294-32.944h6.418v3.965h-6.418v-3.965zm-0.19 28.979h6.419v3.965h-6.419v-3.965zm-10.572-28.979h6.419v3.965h-6.419v-3.965zm-0.189 28.979h6.419v3.965h-6.419v-3.965zm-10.571-28.979h6.418v3.965h-6.418v-3.965zm-1.8 9.579 9.639 4.82c2.237 1.119 2.237 2.933 0 4.051l-9.639 4.821c-2.237 1.118-4.052-3e-3 -4.052-2.506v-8.681c-1e-3 -2.502 1.814-3.623 4.052-2.505zm-8.961-9.579h6.419v3.965h-6.419v-3.965zm-0.189 28.979h6.418v3.965h-6.418v-3.965zm-10.572-28.979h6.419v3.965h-6.419v-3.965zm-0.189 28.979h6.419v3.965h-6.419v-3.965z"
                                fill="#fff" />
                        </svg>
                        <div class=" d-flex justify-content-center align-items-center ">
                            <div style="background:#0098FD; color:#fff;" id="ButtonLabel" class="InputButton"
                                class="boxes">
                                <img height="21px" width="21px"
                                    src="https://d33wubrfki0l68.cloudfront.net/b69837ed98eb2fdc6b59ae85db395367c5d19dbb/f7ef6/assets/images/add.svg"
                                    alt="add" crossorigin=""> <span class='ml-2'>CHOOSE FILE</span>
                            </div>
                            <div class="file-pick-dropdown" style="background:#0098FD; color:#fff;">
                                <i class="fas fa-angle-down arrow-sign "></i>
                                <div class="file-picker-dropdown" style="display: none;">
                                    <button id="dropbox"> <svg viewBox="0 0 24 24" fill="#0061FF"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path id="icon"
                                                d="M12.0146 6.57367L6.50732 10.1473L12.0146 13.721L6.50732 17.2947L1 13.6912L6.50732 10.1176L1 6.57367L6.50732 3L12.0146 6.57367ZM6.47803 18.4263L11.9854 14.8527L17.4927 18.4263L11.9854 22L6.47803 18.4263ZM12.0146 13.6912L17.522 10.1176L12.0146 6.57367L17.4927 3L23 6.57367L17.4927 10.1473L23 13.721L17.4927 17.2947L12.0146 13.6912Z">
                                            </path>
                                        </svg> From Dropbox</button>
                                    <button id='filepicker'> <svg viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path id="Path" d="M8.33331 3H15.6666L23 15H15.6666L8.33331 3Z"
                                                fill="#FFC107">
                                            </path>
                                            <path id="Path_2" d="M4.6012 21L8.30086 15H23L19.3333 21H4.6012Z"
                                                fill="#1976D2">
                                            </path>
                                            <path id="Path_3" d="M1 15.0625L4.60119 21L12 9L8.33333 3L1 15.0625Z"
                                                fill="#4CAF50"></path>
                                        </svg> From Google Drive</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="files" style="visibility:hidden;" type="file"
                        onchange="get_video_source_from_input(this)" accept=".mp4">
                </label>
                <div class="Landingtext">or drop your video file here</div>
                <div class="spinner" style="display:none">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="Workspace">
                <div class="Settings d-none">
                    <div class="VideoFile">
                        <video src="" crossorigin controls></video>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid videoEditor" style="display: none;" id="EditBox">
    <div class="row fixed-top">
        <div class="col-md-1 p-0">
            <div class="navbar">
                <ul class="w-100 menuBar d-flex align-items-center flex-column pl-3">
                    <li class="item">
                        <img src="/assets/safevideokit.svg" width="35px" height="35px" alt="">
                    </li>
                    <li class="menu_item" id="add-media">
                        <div class="tab tabClicked">
                            <svg width="25px" height="25px" viewBox="-6.4 -6.4 44.80 44.80" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-6.4" y="-6.4" width="44.80" height="44.80" rx="8.96" fill="#6FB5F5"
                                        strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>plus</title>
                                    <desc>Created with Sketch Beta.</desc>
                                    <defs> </defs>
                                    <g id="Page-1" stroke-width="0.00032" fill="none" fill-rule="evenodd"
                                        sketch:type="MSPage">
                                        <g id="Icon-Set-Filled" sketch:type="MSLayerGroup"
                                            transform="translate(-362.000000, -1037.000000)" fill="#ffffff">
                                            <path
                                                d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049"
                                                id="plus" sketch:type="MSShapeGroup"> </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <a class="tab-label" style="color:#0098FD">Media</a>
                    </li>
                    <li class="menu_item" id="textMenuItem">
                        <div class="tab">
                            <svg width="25px" height="25px" viewBox="-4.8 -4.8 57.60 57.60"
                                xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff"
                                stroke-width="0.00048000000000000007">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-4.8" y="-4.8" width="57.60" height="57.60" rx="11.52" fill="#C8CBD4"
                                        strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>text-style-solid</title>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="invisible_box" data-name="invisible box">
                                            <rect width="48" height="48" fill="none"></rect>
                                        </g>
                                        <g id="Q3_icons" data-name="Q3 icons">
                                            <polygon points="40 5 8 5 8 11 21 11 21 43 27 43 27 11 40 11 40 5">
                                            </polygon>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <a class="tab-label">Text</a>
                    </li>
                    <li class="menu_item" id="elementMenuItem">
                        <div class="tab">
                            <svg width="25px" height="25px" viewBox="-2.4 -2.4 28.80 28.80" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="5.76" fill="#C8CBD4"
                                        strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M22 8.52V3.98C22 2.57 21.36 2 19.77 2H15.73C14.14 2 13.5 2.57 13.5 3.98V8.51C13.5 9.93 14.14 10.49 15.73 10.49H19.77C21.36 10.5 22 9.93 22 8.52Z"
                                        fill="#ffffff"></path>
                                    <path
                                        d="M22 19.77V15.73C22 14.14 21.36 13.5 19.77 13.5H15.73C14.14 13.5 13.5 14.14 13.5 15.73V19.77C13.5 21.36 14.14 22 15.73 22H19.77C21.36 22 22 21.36 22 19.77Z"
                                        fill="#ffffff"></path>
                                    <path
                                        d="M10.5 8.52V3.98C10.5 2.57 9.86 2 8.27 2H4.23C2.64 2 2 2.57 2 3.98V8.51C2 9.93 2.64 10.49 4.23 10.49H8.27C9.86 10.5 10.5 9.93 10.5 8.52Z"
                                        fill="#ffffff"></path>
                                    <path
                                        d="M10.5 19.77V15.73C10.5 14.14 9.86 13.5 8.27 13.5H4.23C2.64 13.5 2 14.14 2 15.73V19.77C2 21.36 2.64 22 4.23 22H8.27C9.86 22 10.5 21.36 10.5 19.77Z"
                                        fill="#ffffff"></path>
                                </g>
                            </svg>
                        </div>
                        <a class="tab-label">Elements</a>
                    </li>
                    <li class="menu_item" id="add-audio">
                        <div class="tab">
                            <svg width="25px" height="25px" viewBox="-2.4 -2.4 28.80 28.80" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="6.048000000000001"
                                        fill="#C8CBD4" strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M14.3187 2.50498C13.0514 2.35716 11.8489 3.10033 11.4144 4.29989C11.3165 4.57023 11.2821 4.86251 11.266 5.16888C11.2539 5.40001 11.2509 5.67552 11.2503 6L11.25 6.45499C11.25 6.4598 11.25 6.4646 11.25 6.46938V14.5359C10.4003 13.7384 9.25721 13.25 8 13.25C5.37665 13.25 3.25 15.3766 3.25 18C3.25 20.6234 5.37665 22.75 8 22.75C10.6234 22.75 12.75 20.6234 12.75 18V9.21059C12.8548 9.26646 12.9683 9.32316 13.0927 9.38527L15.8002 10.739C16.2185 10.9481 16.5589 11.1183 16.8378 11.2399C17.119 11.3625 17.3958 11.4625 17.6814 11.4958C18.9486 11.6436 20.1511 10.9004 20.5856 9.70089C20.6836 9.43055 20.7179 9.13826 20.7341 8.83189C20.75 8.52806 20.75 8.14752 20.75 7.67988L20.7501 7.59705C20.7502 7.2493 20.7503 6.97726 20.701 6.71946C20.574 6.05585 20.2071 5.46223 19.6704 5.05185C19.4618 4.89242 19.2185 4.77088 18.9074 4.6155L16.1999 3.26179C15.7816 3.05264 15.4412 2.88244 15.1623 2.76086C14.8811 2.63826 14.6043 2.53829 14.3187 2.50498Z"
                                        fill="#ffffff"></path>
                                </g>
                            </svg>
                        </div>
                        <a class="tab-label">Audio</a>
                    </li>
                    <li class="menu_item" id="add-subtitle">
                        <div class="tab">
                            <svg width="25px" height="25px" fill="#ffffff" viewBox="-5 -5 60.00 60.00" version="1.2"
                                baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" overflow="inherit"
                                stroke="#ffffff">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-5" y="-5" width="60.00" height="60.00" rx="12" fill="#C8CBD4"
                                        strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M15.599 23c-.033-1-.32-1.731-.806-2.206-.475-.513-1.137-.885-1.976-.885-2.871 0-3.345 2.919-3.345 5.199 0 2.897 1.104 4.783 3.345 4.783 1.976 0 2.749-.892 2.969-2.892h7.717c-.662 6-5.365 8.002-10.686 8.002-6.205 0-10.985-3.49-10.985-9.987 0-6.574 4.625-10.131 10.985-10.131 5.133 0 9.991 2.117 10.532 8.117h-7.75zm24.497 0c-.033-1-.331-1.731-.806-2.206-.475-.513-1.137-.885-1.988-.885-2.858 0-3.333 2.919-3.333 5.199 0 2.897 1.104 4.783 3.333 4.783 1.988 0 2.761-.892 2.981-2.892h7.717c-.662 6-5.365 8.002-10.698 8.002-6.204 0-10.973-3.49-10.973-9.987 0-6.574 4.626-10.131 10.973-10.131 5.146 0 9.991 2.117 10.544 8.117h-7.75z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                        <a class="tab-label">Subtitles</a>
                    </li>
                    <li class="menu_item" id="add-filters">
                        <div class="tab">
                            <svg width="25px" height="25px" viewBox="-2.4 -2.4 28.80 28.80" fill="none"
                                xmlns="http://www.w3.org/2000/svg" transform="rotate(0)">
                                <g id="SVGRepo_bgCarrier" stroke-width="0">
                                    <rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="5.472" fill="#C8CBD4"
                                        strokewidth="0"></rect>
                                </g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8Z"
                                        fill="#ffffff"></path>
                                    <path
                                        d="M5.03349 10.7834C3.22163 11.816 2 13.7653 2 16C2 19.3137 4.68629 22 8 22C11.3137 22 14 19.3137 14 16C14 15.7437 13.9839 15.4911 13.9527 15.2432C13.3301 15.4107 12.6755 15.5 12 15.5C8.84139 15.5 6.13882 13.5474 5.03349 10.7834Z"
                                        fill="#ffffff"></path>
                                    <path
                                        d="M15.3866 14.6936C15.4611 15.1179 15.5 15.5544 15.5 16C15.5 18.0906 14.6446 19.9815 13.2646 21.3416C14.0849 21.7625 15.0147 22 16 22C19.3137 22 22 19.3137 22 16C22 13.7653 20.7783 11.816 18.9665 10.7834C18.2876 12.4811 17.0062 13.8726 15.3866 14.6936Z"
                                        fill="#ffffff"></path>
                                </g>
                            </svg>

                        </div>
                        <a class="tab-label">Filters</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="editor-options mobileColumn col-md-3">
            <div class="media-upload mt-5">
                <p class="text-left" style="color: #000; font-weight: 900;">Add Media</p>
                <div class="upload-box mt-3">
                    <label class="mb-0" for="upload-logo">Upload a File</label>
                    <input onchange="get_video_source_from_input(this)" type="file" id="upload-logo">
                </div>
            </div>
            <!-- <div class="showing-text-panel"></div> -->
            <div class="textOverlayOptions d-none my-5">
                <p class="mb-2 text-left" style="color: #000; font-weight: 900;">Edit Text</p>
                <div class="option-settings">
                    <div class="txtBox">
                        <textarea value="Your text here" placeholder="Your text here..." id="yourText"
                            rows="5"></textarea>
                    </div>
                </div>
                <div class="add-text-button mt-3 text-left">
                    <button style="width:100px" class="btn btn-primary">Add Text</button>
                </div>
                <p class="mb-2 mt-4 text-left" style="color: #000; font-weight: 900;">Style</p>
                <div class="option-settings">
                    <div class="d-flex" style="gap:10px">
                        <div class="font-select">
                            <select id="font-name-select">
                                <option value="/path/to/AlfaSlabOne-Regular.ttf">Alfa Slab One</option>
                                <option value="/path/to/arial.ttf">Arial</option>
                                <option value="/path/to/BerkshireSwash-Regular.ttf">Berkshire Swash</option>
                                <option value="/path/to/BlackOpsOne-Regular.ttf">Black Ops One</option>
                                <option value="/path/to/Comfortaa-Regular.ttf">Comfortaa</option>
                                <option value="/path/to/Creepster-Regular.ttf">Creepster</option>
                                <option value="/path/to/cursive.ttf">Cursive</option>
                                <option value="/path/to/Lato-Regular.ttf">Lato</option>
                                <option value="/path/to/OpenSans-Regular.ttf">Open Sans</option>
                                <option value="/path/to/Pacifico-Regular.ttf">Pacifico</option>
                                <option style="font-family: Poppins;" value="/path/to/Poppins-Regular.ttf">Poppins
                                </option>
                                <option value="/path/to/Roboto-Regular.ttf">Roboto</option>
                                <option value="/path/to/Sacramento-Regular.ttf">Sacramento</option>
                                <option value="/path/to/SpicyRice-Regular.ttf">Spicy Rice</option>
                                <option value="/path/to/Underdog-Regular.ttf">Underdog</option>
                                <option value="/path/to/YatraOne-Regular.ttf">Yatra One</option>


                            </select>
                        </div>
                        <div class="font-size">
                            <select id="font-size-select">
                                <option value="50">50px</option>
                                <option value="72">72px</option>
                                <option value="62">62px</option>
                                <option value="80">80px</option>
                                <option value="90">90px</option>
                                <option value="100">100px</option>
                                <option value="120">120px</option>
                                <option value="150">150px</option>
                                <option value="200">200px</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="option-settings d-flex align-items-center mt-3" style="gap:20px;margin-left: .3rem;">
                    <div class="bgBox" onclick="toggleTxtColorPicker()">
                        <div class="innerColorBox">
                            <div class="d-none ColorSelect"></div>
                        </div>
                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                            style="font-size: 20px; fill: rgb(180, 186, 208);width:20px;height:20px;">
                            <path
                                d="M12.896 1.553l.048.117 7 20c.182.52-.092 1.091-.614 1.274-.484.17-1.01-.055-1.229-.506l-.045-.108L15.841 16H8.159l-2.215 6.33c-.17.484-.674.756-1.162.646l-.112-.032c-.484-.17-.756-.674-.646-1.162l.032-.112 7-20c.298-.853 1.463-.891 1.84-.117zM12 5.026L8.859 14h6.282L12 5.026z">
                            </path>
                        </svg>
                        <input type="color" id="txtcolorPicker">
                    </div>
                    <div data-color="black" class="txtColorBox"></div>
                    <div data-color="white" class="txtColorBox"></div>
                    <div data-color="yellow" class="txtColorBox"></div>
                    <div data-color="blue" class="txtColorBox"></div>
                    <div data-color="#F11A7B" class="txtColorBox"></div>
                </div>
                <p class="mt-4 text-left" style="color: #000; font-weight: 900;">Background Color</p>
                <div class="option-settings d-flex align-items-center" style="gap:20px; margin-left: 0.3rem;">
                    <div class="bgBox" onclick="toggleColorPicker()">
                        <div class="innerBgBox">
                            <div class="noColorSelect"></div>
                        </div>
                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                            style="font-size: 20px; fill: rgb(180, 186, 208);width:20px;height:20px;">
                            <path
                                d="M19 3c1.105 0 2 .895 2 2v14c0 1.105-.895 2-2 2H5c-1.105 0-2-.895-2-2V5c0-1.105.895-2 2-2h14zm-6.94 2h-.12l-.105.012-.058.012-.09.024c-.094.032-.183.077-.265.134l-.095.077-.088.09-.055.071-.061.099-.046.095-5 12-.038.11c-.138.481.103 1 .577 1.197.473.198 1.012.004 1.256-.433l.051-.105 1.41-3.385h5.334l1.41 3.385.051.105c.245.437.783.63 1.257.433.473-.197.715-.716.577-1.197l-.039-.11-5-12-.05-.105-.077-.116-.056-.068-.069-.068-.092-.075c-.062-.043-.128-.08-.197-.108l-.124-.042-.117-.024-.08-.008zM12 8.598l1.833 4.4h-3.666L12 8.598z">
                            </path>
                        </svg>
                        <input type="color" id="colorPicker">
                    </div>

                    <div data-color-value="black@0" class="bgColorBox">
                        <div class="noselectcolor"></div>
                    </div>
                    <div data-color-value="black" class="bgColorBox"></div>
                    <div data-color-value="white" class="bgColorBox"></div>

                </div>
            </div>
            <div class="elementOverlayoptions pb-5 d-none">
                <div class="optionheading feature-heading">
                    <p class="mb-2 text-left" style="color: #000; font-weight: 900;">Social</p>
                </div>
                <div class="elements basic-elements d-flex">
                    <img class="element" src="/elements/social-icon-instagram.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-facebook.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-snapchat.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-whatsapp.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-youtube.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-like.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/social-icon-subscribe.png" style="padding:15px;" alt="element">



                </div>
                <div class="optionheading feature-heading">
                    <p class="text-left mb-2" style="color: #000; font-weight: 900;">Emoji</p>
                </div>
                <div class="elements emjios d-flex">
                    <img class="element" src="/elements/Emoji01.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji02.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji03.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji04.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji05.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji06.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji07.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji08.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji09.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji10.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji11.png" width="100px" alt="element">
                    <img class="element" src="/elements/Emoji12.png" width="100px" alt="element">
                </div>
                <div class="optionheading feature-heading">
                    <p class="text-left mb-2" style="color: #000; font-weight: 900;">Holiday</p>
                </div>
                <div class="elements emjios d-flex">
                    <img class="element" src="/elements/Holiday01.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween02.png" width="100px" alt="element">
                    <img class="element" src="/elements/Christmas08.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween04.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween05.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween06.png" width="100px" alt="element">
                    <img class="element" src="/elements/Halloween07.png" width="100px" alt="element">
                </div>
                <div class="optionheading feature-heading">
                    <p class="mb-2 text-left" style="color: #000; font-weight: 900;">People</p>
                </div>
                <div class="elements basic-elements d-flex">
                    <img class="element" src="/elements/people-1.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/people-2.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/people-3.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/people-4.png" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/people-5.png" style="padding:15px;" alt="element">
                </div>
                <div class="optionheading feature-heading">
                    <p class="mb-2 text-left" style="color: #000; font-weight: 900;">Gifs</p>
                </div>
                <div class="elements basic-elements d-flex">
                    <img class="element" src="/elements/yA.gif" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/5GJg.gif" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/3zM0.gif" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/4Mj.gif" style="padding:15px;" alt="element">
                    <img class="element" src="/elements/OzG.gif" style="padding:15px;" alt="element">
                </div>
            </div>
            <div class="audio-upload d-none mt-5">
                <p class="text-left" style="color: #000; font-weight: 900;">Add Media</p>
                <div class="upload-box mt-3">
                    <label class="mb-0" for="upload-logo">Upload a File</label>
                    <input type="file" id="upload-logo">
                </div>
            </div>
            <div class="video-filters-options pb-5 d-none">
                <div class="optionheading feature-heading">
                    <p class="text-left" style="color: #000; font-weight: 900;">Filters</p>
                </div>
                <div class="filters basic-filters d-flex">
                    <div class="filter-container">
                        <div id="none" class="filter-box">
                            <svg id="None" width="50" height="50" viewBox="0 0 34 34" fill="none"
                                xmlns="http://www.w3.org/2000/svg" color="#9094A5" class="sc-bgqQcB fKxksa">
                                <path
                                    d="M32 17c0-8.28427-6.7157-15-15-15C8.71573 2 2 8.71573 2 17c0 8.2843 6.71573 15 15 15 8.2843 0 15-6.7157 15-15ZM7 6l20 21"
                                    stroke="currentColor" stroke-width="3"></path>
                            </svg>
                        </div>
                        <label class="filter-label" for="None">None</label>
                    </div>
                    <div class="filter-container">
                        <div id="sepia" class="filter-box">
                            <img src="/elements/filter-sepia.webp" alt="filter" height="100%" style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Sepia</label>
                    </div>
                    <div class="filter-container">
                        <div id="calmII" class="filter-box">
                            <img src="/elements/filter-saturate.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Calm II</label>
                    </div>
                    <div class="filter-container">
                        <div id="grayscale" class="filter-box">
                            <img src="/elements/filter-grayscale.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Grayscale</label>
                    </div>
                    <div class="filter-container">
                        <div id="pixelate" class="filter-box">
                            <img src="/elements/filter-pixelate.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Pixelate</label>
                    </div>
                    <div class="filter-container">
                        <div id="noise" class="filter-box">
                            <img src="/elements/filter-noise.webp" alt="filter" height="100%" style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Noise</label>
                    </div>
                    <div class="filter-container">
                        <div id="red" class="filter-box">
                            <img src="/elements/filter-redeye.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Red Eye</label>
                    </div>
                    <div class="filter-container">
                        <div id="blue" class="filter-box">
                            <img src="/elements/filter-blueye.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Blue Eye</label>
                    </div>
                    <div class="filter-container">
                        <div id="hue" class="filter-box">
                            <img src="/elements/filter-hue.webp" alt="filter" height="100%" style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Hue</label>
                    </div>
                    <div class="filter-container">
                        <div id="rgb" class="filter-box">
                            <img src="/elements/filter-rgb.webp" alt="filter" height="100%" style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">RGB</label>
                    </div>
                    <div class="filter-container">
                        <div id="blur" class="filter-box">
                            <img src="/elements/filter-blur.webp" alt="filter" height="100%" style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Blur</label>
                    </div>
                    <div class="filter-container">
                        <div id="brightness" class="filter-box">
                            <img src="/elements/filter-brightness.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Brightness</label>
                    </div>
                    <div class="filter-container">
                        <div id="contrast" class="filter-box">
                            <img src="/elements/filter-contrast.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Contrast</label>
                    </div>
                    <div class="filter-container">
                        <div id="invert" class="filter-box">
                            <img src="/elements/filter-invert.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Invert</label>
                    </div>
                    <div class="filter-container">
                        <div id="painting" class="filter-box">
                            <img src="/elements/filter-painting.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Painting</label>
                    </div>
                    <div class="filter-container">
                        <div id="vintage" class="filter-box">
                            <img src="/elements/filter-vintage.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Vintage</label>
                    </div>
                    <div class="filter-container">
                        <div id="emboss" class="filter-box">
                            <img src="/elements/filter-emboss.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Emboss</label>
                    </div>
                    <div class="filter-container">
                        <div id="sharpen" class="filter-box">
                            <img src="/elements/filter-sharpen.webp" alt="filter" height="100%"
                                style="border-radius:7px">
                        </div>
                        <label class="filter-label" for="None">Sharpen</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8" id="VContainer">
            <div class="downloadVideo" style="width: 100%;
           text-align: right;
           position: relative;
           top: -10px;">
                <button id="exportBtn" type="button" class="btn text-white"
                    style="background: #0098FD;   border-radius: 5px;">Export</button>
            </div>
            <div class="pos-relative" style="position:relative;">
                <div id="video-container">
                    <video src="" crossorigin type="video/mp4" controls style="margin:0 auto;height: auto;"
                        id="VDemo"></video>
                    <audio id="audioPlayer" src="" type="audio/mpeg"></audio>
                    <div style="visibility: hidden;" id="text-overlay" contenteditable="">Your text here...</div>
                    <img id="element-overlay" class="p-0" style="width:150px">
                </div>
            </div>
            <div class="row fixed-bottom" id="endButton">
                <div class="video-controls" id="video-controls">
                    <div class="bottom-controls">
                        <div class="left-controls">
                            <div class="d-none volume-controls">
                                <button data-title="Mute (m)" class="volume-button" id="volume-button">
                                    <svg>
                                        <use class="hidden" href="#volume-mute"></use>
                                        <use class="hidden" href="#volume-low"></use>
                                        <use href="#volume-high"></use>
                                    </svg>
                                </button>

                                <input class="volume" id="volume" value="1" data-mute="0.5" type="range" max="1" min="0"
                                    step="0.01" />
                            </div>
                            <div class="d-none time">
                                <time id="time-elapsed">00:00</time>
                                <span> / </span>
                                <time id="duration">00:00</time>
                            </div>
                            <div class="Feature" id="Trim" title="Trim" style="margin: 20px 0px">
                                <a>
                                    <svg style="fill: black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                        fill="#000000">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <g>
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path
                                                    d="M12 14.121l-2.317 2.317a4 4 0 1 1-2.121-2.121L9.88 12 4.21 6.333a2 2 0 0 1 0-2.829l.708-.707L12 9.88l7.081-7.082.708.707a2 2 0 0 1 0 2.829L14.12 12l2.317 2.317a4 4 0 1 1-2.121 2.121L12 14.12zM6 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="center-controls">
                            <div class="custom-video-player pos-relative">
                                <div class="PlayButton">
                                    <div class="PlayIcon"
                                        style="background-image: url(&quot;./public/styles/VideoEditor/media/icons/play.svg&quot;);">
                                    </div>
                                    <div class="video-time pl-5"></div>
                                    /
                                    <div class="total-time"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-controls">
                            <button data-title="PIP (p)" class="pip-button" id="pip-button">
                                <svg>
                                    <use href="#pip"></use>
                                </svg>
                            </button>
                            <button data-title="Full screen (f)" class="fullscreen-button" id="fullscreen-button">
                                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M33 6H42V15" stroke="#000" stroke-width="4" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M42 33V42H33" stroke="#000" stroke-width="4" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M15 42H6V33" stroke="#000" stroke-width="4" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M6 15V6H15" stroke="#000" stroke-width="4" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-100 pr-3 text-right">
                    <div class="video-progress">
                        <input class="seek" id="seek" value="0" min="0" type="range" step="1" />
                        <div id="progress-bar" value="0" min="0"></div>
                        <div class="seek-tooltip" id="seek-tooltip">00:00</div>
                        <div class="time-marker">
                            <div class="time-marker-tick"></div>
                            <div class="time-marker-line"></div>
                        </div>
                        <div class="video-files-container">
                            <div class="frames"></div>
                        </div>
                        <div class="audio-files-container"></div>
                    </div>
                </div>
            </div>
            <div class="download-modal-container" style="display: none;">
                <div id="download-modal">
                    <div class="download-modal-body">
                        <div class="spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>