<head>
  <link rel="stylesheet" href="/public/styles/VideoEditor/utils.css" />
  <link rel="stylesheet" href="/public/styles/VideoEditor/meme.css" />
      <style>
        .container2_inner {
          background: red;
        }
      </style>
</head>
{%- assign boxColor = site.data[page.folderName][page.lang][page.fileName].color -%}
  <div class="container2" data-color="{{boxColor}}">
    <div id="upper-loader"></div>
    <div id="inputbox">
      <div class="m-auto">
        <div class="d-flex justify-content-center align-items-center">
          <div id="Inputbox" class="boxes" style="background-color:{{boxColor}}; color:#fff;">
            <span class="ml-3">CHOOSE FILE</span>
          </div>
          <div class="file-pick-dropdown" style="background-color:{{boxColor}}; color:#fff;">
            <i class="fas fa-angle-down arrow-sign"></i>
            <div class="file-picker-dropdown" style="display: none">
              <button id="dropbox">
                <svg viewBox="0 0 24 24" fill="#0061FF" xmlns="http://www.w3.org/2000/svg">
                  <path id="icon"
                    d="M12.0146 6.57367L6.50732 10.1473L12.0146 13.721L6.50732 17.2947L1 13.6912L6.50732 10.1176L1 6.57367L6.50732 3L12.0146 6.57367ZM6.47803 18.4263L11.9854 14.8527L17.4927 18.4263L11.9854 22L6.47803 18.4263ZM12.0146 13.6912L17.522 10.1176L12.0146 6.57367L17.4927 3L23 6.57367L17.4927 10.1473L23 13.721L17.4927 17.2947L12.0146 13.6912Z">
                  </path>
                </svg>
                From Dropbox
              </button>
              <button id="filepicker">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path id="Path" d="M8.33331 3H15.6666L23 15H15.6666L8.33331 3Z" fill="#FFC107"></path>
                  <path id="Path_2" d="M4.6012 21L8.30086 15H23L19.3333 21H4.6012Z" fill="#1976D2"></path>
                  <path id="Path_3" d="M1 15.0625L4.60119 21L12 9L8.33333 3L1 15.0625Z" fill="#4CAF50"></path>
                </svg>
                From Google Drive
              </button>
            </div>
          </div>
        </div>
      </div>
      <p id="dropfile">or drop your file here</p>
      <p id="error" class="p-3"></p>
    </div>
    <div class="Spinner"></div>
    <div class="row" id="loaderDiv">
      <div class="col col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <span id="loader"></span>
      </div>
    </div>
    <span id="content">
      <div class="container2_inner">
        <div class="container-fluid" id="fName"></div>
        <div class="main_divs left_div">
          <div class="left_div_inner"><canvas id="meme_canvas"></canvas></div>
        </div>
        <div class="main_divs right_div">
          <div class="text_div">
            Text:<br />
            <div class="inputs_div" style="width: 100%">
              <textarea name="" cols="30" rows="10" id="m_text"></textarea>
              <input type="color" id="m_color" />
            </div>
          </div>
          <div class="font_div">
            <div class="font_family">
              Font Family:<br />
              <select id="m_font_family">
                <option value="Arial">Arial</option>
                <option value="Impact">Impact</option>
                <option value="Arial Black">Arial Black</option>
                <option value="Comic Sans Ms">Comic Sans Ms</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
              </select>
            </div>
            <div class="font_size">
              Font Size:<br />
              <input type="number" id="m_font_size" />
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="style_btns">
              <label class="btn btn-secondary active">
                <input type="checkbox" name="options" id="option1" autocomplete="off" class="m_bold" />
                <i class="fa fa-bold"></i>
              </label>
              <label class="btn btn-secondary">
                <input type="checkbox" name="options" id="option2" autocomplete="off" class="m_italic" />
                <i class="fa fa-italic"></i>
              </label>
              <label class="btn btn-secondary" id="under">
                <input type="checkbox" name="options" id="option3" autocomplete="off" class="m_underline" />
                <i class="fa fa-underline"></i>
              </label>
            </div>
            <br />
          </div>
          <div class="color_div">
            <div class="bg_color_div">
              Text Bg:<br />
              <div class="bg_div_inner">
                <i class="fas fa-fill-drip"></i>
                <input type="color" name="" id="m_bg" value="" />
              </div>
            </div>
  
            <div class="m_stroke">
              Stroke:<br />
              <div class="inputs_div">
                <input type="number" id="stroke_number" />
                <input type="color" id="stroke_color" />
              </div>
            </div>
            <div class="m_shadow">
              Shadow:<br />
              <div class="inputs_div">
                <input type="number" id="shadow_number" />
                <input type="color" name="" id="shadow_color" />
              </div>
            </div>
          </div>
          <div class="opacity_div">
            Opacity:<br />
            <input type="range" min="1" max="100" value="100" id="m_opacity" />
          </div>
          <div class="adding_btns">
            <a class="btn" id="add_image">Add Image</a><a class="btn" id="add_text">Add Text</a>
          </div>
        </div>
        <div class="saving_div">
          <a class="btn" id="cancel" onclick="location.reload()">CANCEL</a><a class="btn" id="save">Save Video</a>
        </div>
      </div>
    </span>
    <span class="thankyouBox"> </span>
  </div>
  
  <input onchange=" fileOnChange()" type="file" id="file" accept="video/mp4,video/webm" class="file" />
  <video src="" id="video" style="display: none;" crossorigin></video>
  <canvas style="display: none;" id="canvas"></canvas>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/src/ffmpeg.min.js"></script>
  <script src="/assets/js/googledrive.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.4.0/fabric.min.js" integrity="sha512-Ly9uI3QY88jVXCgkORH2A4Qqz5xYm1pew9jEgedgSpyEg9asvyPISK+CY7QNDN3CMftXU/KLNwQR7XUUo7Cqag==" crossorigin="anonymous"></script>
  <script data-folderName='{{page.folderName}}' data-lang='{{page.lang}}' data-fileName='{{page.fileName}}'
        data-tool='{{page.tool}}' src="/src/VideoEditorJS/meme.js" crossorigin></script>